body {
  margin: 0;
  background-color: white;
  overflow: hidden;
}
    

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px;
  background-image: url('canva designs/sea.png');
  background-size: cover;
}

  .map {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 450px;
    height: 170px;
    background: url('canva designs/map.png') no-repeat center center;
    background-size: 100% 100%;
    animation: fadeIn 1s ease-in 1s;
    display:flex;
    opacity: 0%;
    justify-content:center;
    align-items:center;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  #question {
    position: relative;
    top: 10px;
    font-family: "Caveat Brush", serif;
    font-size: 38px;
    color: black;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
  }

.fish:hover{
  transform: scale(1.2);
}

.fishbox {
  position: absolute;
  cursor: pointer;
  font-family: "Pangolin", serif;
  font-style: normal;
}

  #fishabox {
    left: 50px;
    bottom:30px;
    display:flex;
    align-items:center;
  }
  #fishbbox {
    left: 530px;
    bottom: 300px;
    display:flex;
    align-items:center;
  }
  #fishcbox {
    left: 600px;
    bottom: 40px;
    display:flex;
    align-items:center;
  }

  #fisha{
    width: 190px;
    height: 290px;
  }

 #fishb{
    width: 180px;
    height: 200px;
 }

 #fishc{
    width: 190px;
    height: 220px;
 }

  #wheel {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 400px;
    bottom: -5%;
    align-items: center;
  }
   


  .answer {
    font-size: 22px;
    color: white;
    text-align: left;
    margin-top: 10px;
  }

  @keyframes damagescreen {
    0% {opacity: 0%}
    50% {opacity: 100%}
    100% {opacity:0%}
  }

  #damage {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0%;
    animation-name: damagescreen;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

#fadeLayer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Black screen fade */
    z-index: 1000;
    display: none;
    pointer-events: none;
    animation: fadeIn 1s ease-in-out reverse;
}